################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/test0304/FileContentIndex/915e3a83-d5ee-4943-9c9a-f953ae8a2ee4.vsidx
/.vs/test0304/FileContentIndex/039a3b22-cd90-4d07-a470-8e2ffe67f998.vsidx
/.vs/test0304/FileContentIndex/a3ab2386-dcfa-4be2-b568-92066c2c8fcb.vsidx
